<div id="opportunity-page">
  <div class="home-header">
    <app-header title="Opportunity"></app-header>
    <div class="add-column col-sm-12">
      <button kendoButton class="pull-left add-opportunity" [primary]="true" (click)="onCreate()">Add Opportunity</button>
      <a class="add-column-button" (click)="addColumn = !addColumn" [hidden]="viewMode=='grid'"><i class="add-column-button-icon fa fa-plus-square"></i></a>
      <input type="text" [autofocus]="true" name="column" class="add-column-text" [(ngModel)]="newColumn" kendoTextBox *ngIf="addColumn" (keyup.enter)="onAddNewColumn()">
      <div class="pull-right">
        <div class="filter pull-left" [hidden]="viewMode=='card'">
          <label class="">
              <span>Filter: &nbsp;</span>
              <kendo-dropdownlist
                  [defaultItem]="filter_default"
                  [data]="grid_quick_filter_options"
                  [textField]="'name'"
                  [valueField]="'id'"
                  [(ngModel)]="filter"
                  [valuePrimitive]="true"
                  (ngModelChange)="onChangeGridQuickFilter($event)">
              </kendo-dropdownlist>
          </label>
        </div>
        <div class="filter pull-left" [hidden]="viewMode=='grid'">
          <label class="">
              <span>Filter: &nbsp;</span>
              <ss-multiselect-dropdown [options]="card_quick_filter_options" [texts]="card_quick_filter_texts" [settings]="card_quick_filter_settings" [(ngModel)]="cardQuickFilterModel" (ngModelChange)="onChangeCardQuickFilter($event)"></ss-multiselect-dropdown>
          </label>
        </div>
        <div class="views pull-left">
          <a class="view-option" (click)="onChangeView('card')" [class.active]="viewMode=='card'"><i class="fa fa-th"></i></a>
          <a class="view-option" (click)="onChangeView('grid')" [class.active]="viewMode=='grid'"><i class="fa fa-list"></i></a>
        </div>
        <div class="search pull-left">
          <div class="criterias" #criteria>
            <ul>
              <li class="criteria" *ngFor="let criteria of criterias; let i = index">
                <span>{{criteria}}</span>
                <a (click)="onDeleteCriteria(i)"><i class="fa fa-times"></i></a>
              </li>
              <li>
                <input type="text" name="search" placeholder="Search..." kendoTextBox [(ngModel)]="searchStr" (keyup.enter)="onAddCriteria()" (keyup.backspace)="onDeleteLastCriteria()">
              </li>
            </ul>
          </div>
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card-view columns col-sm-12" *ngIf="viewMode=='card'" [ngStyle]="cardViewStyle">
      <div class="column-grid" dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']" (scroll)="onScroll($event)">
          <div class="column"
                  *ngFor="let container of containers; let i = index"
                  [attr.id]="'column'+i"
                  [ngClass]="container.isCollapse?'collapsed':'expanded'"
                  dnd-sortable [sortableIndex]="i" [dragEnabled]="isColumnDraggable" (dragstart)="onDragStart($event)" (dragend)="onDragEnd('status', $event)">
              <div class="panel panel-warning expanded-panel"
                  dnd-sortable-container [sortableData]="container.widgets" [dropZones]="['widget-dropZone']">
                  <div class="panel-heading" [class.fixed]="isFixedNav" (click)="onCollapse(i, $event)" [ngStyle]="fixedNavStyles[i]">
                      <span class="column-name" *ngIf="activeColumnId != container.id" (click)="activeColumnId=container.id; newColumnName=container.name">{{container.name}}</span>
                      <input type="text" [autofocus]="true" name="column_name" class="column-name-input" [(ngModel)]="newColumnName" *ngIf="activeColumnId == container.id" (keyup.enter)="onUpdateColumn()">
                      <div class="panel-heading-ops">
                        <a (click)="onPopupColumnSetting(i, $event)"><i class="column-popup fa fa-cog"></i></a>
                        <div class="popup_container" *ngIf="sColumnIndex == i">
                            <ul class="popup_links">
                              <li>
                                <a (click)="onCollapse(i, $event); sColumnIndex=-1">Fold</a>
                                <a (click)="onOpenArchiveAllDlg(container.id, $event)">Archive All</a>
                                <a (click)="onOpenRemoveAllDlg(container.id, container.name, $event)">Delete</a>
                              </li>
                            </ul>
                        </div>
                        <a (click)="qColumnId = container.id"><i class="fa fa-plus"></i></a>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="quick-add-opportunity" *ngIf="qColumnId == container.id">
                        <input type="text" [autofocus]="true" name="opportunity" kendoTextBox class="opportunity-name" [(ngModel)]="newOpportunityName" (keyup.enter)="onQuickAddOpportunity(container)">
                        <button kendoButton class="btn pull-left" [primary]="true" (click)="onQuickAddOpportunity(container)">Save</button>
                        <button kendoButton class="btn pull-right" (click)="qColumnId = ''">Cancel</button>
                      </div>
                      <ul class="list-group">
                          <li *ngFor="let widget of container.widgets; let x = index"
                              class="list-group-item"
                              [style.background] = "widget.bgColor"
                              dnd-sortable [sortableIndex]="x"
                              [dragEnabled]="isCardDraggable"
                              [dragData]="widget"
                              (dragstart)="onDragStart($event)"
                              (onDropSuccess)="onDragEnd('opportunity', $event)"
                              (click)="onEdit(widget, $event)">
                              <div class="popup">
                                  <a (click)="onPopup(i, x);"><i class="card-popup fa fa-cog"></i></a>
                                  <div class="popup_container" *ngIf="'widget_'+i+'_'+x == cardId">
                                      <ul class="popup_links">
                                        <li>
                                          <a (click)="onEdit(widget, $event)">Edit</a>
                                          <a id="oArchive" class="popup_menu" (click)="onOpenArchiveDlg(widget, $event)">Archive</a>
                                          <a id="oRemove" class="popup_menu" (click)="onOpenRemoveDlg(widget, $event)">Remove</a>
                                        </li>
                                      </ul>
                                      <ul class="color-buttons">
                                        <li><a class="white" (click)="onChangeBg(widget, 'white')"><i id="oColor" class="color fa fa-sticky-note" aria-hidden="true"></i></a></li>
                                        <li><a class="yellow" (click)="onChangeBg(widget, 'yellow')"><i id="oColor" class="color fa fa-sticky-note" aria-hidden="true"></i></a></li>
                                        <li><a class="orange" (click)="onChangeBg(widget, 'orange')"><i id="oColor" class="color fa fa-sticky-note" aria-hidden="true"></i></a></li>
                                        <li><a class="blue" (click)="onChangeBg(widget, 'blue')"><i id="oColor" class="color fa fa-sticky-note" aria-hidden="true"></i></a></li>
                                        <li><a class="green" (click)="onChangeBg(widget, 'green')"><i id="oColor" class="color fa fa-sticky-note" aria-hidden="true"></i></a></li>
                                        <li><a class="gray" (click)="onChangeBg(widget, 'gray')"><i id="oColor" class="color fa fa-sticky-note" aria-hidden="true"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                              <span (click)="onEdit(widget, $event)" class="card-name">{{ (widget.name.length>140)? (widget.name | slice:0:140)+'...':(widget.name) }}</span><br>
                              <span (click)="onEdit(widget, $event)" class="card-info">{{widget.company.name}}</span><br>
                              <span (click)="onEdit(widget, $event)" class="card-info">{{widget.contact.name}}</span><br>
                              <span (click)="onEdit(widget, $event)" class="card-info" [hidden]="!widget.value">{{(widget.currency=='EUR')?'€':'$'}}{{widget.value| number:'1.2-2'}}</span><br>
                              <div class="star-ratings-css">
                                <div class="star-ratings-css-top" [ngClass]="'rate-'+widget.rating">
                                  <span (click)="onEdit(widget, $event)">★</span><span (click)="onEdit(widget, $event)">★</span><span (click)="onEdit(widget, $event)">★</span><span (click)="onEdit(widget, $event)">★</span><span (click)="onEdit(widget, $event)">★</span>
                                </div>
                                <div class="star-ratings-css-bottom">
                                  <span (click)="onEdit(widget, $event)">☆</span><span (click)="onEdit(widget, $event)">☆</span><span (click)="onEdit(widget, $event)">☆</span><span (click)="onEdit(widget, $event)">☆</span><span (click)="onEdit(widget, $event)">☆</span>
                                </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="panel collapsed-panel" (click)="onExpand(i, $event)">
                  <a (click)="onExpand(i, $event)"><i class="fa fa-chevron-right"></i></a>
                  <span>{{container.name}} ({{container.widgets?.length}})</span>
              </div>
          </div>
      </div>
  </div>

  <div class="grid-view pull-left" *ngIf="viewMode=='grid'">
    <opportunity-grid 
        *ngIf="isShowGrid" 
        [contactList]="contactList" 
        [accountList]="accountList" 
        [statusList]="statusList"
        [customData]="grid_opportunities">
    </opportunity-grid>
  </div>
</div>

<opportunity-dialog *ngIf="isShowDialog" [opportunity]="opportunity" [contactList]="contactList" [accountList]="accountList" [statusList]="statusList" (save)="updateOpportunity($event)" (close)="closeDialog($event)"></opportunity-dialog>

<kendo-dialog title="Please confirm" *ngIf="isShowRemoveDlg" (close)="isShowRemoveDlg=false">
    <p style="margin: 30px; text-align: center;">Are you sure you want to remove this opportunity?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="isShowRemoveDlg=false">No</button>
        <button kendoButton (click)="onRemove()" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Please confirm" *ngIf="isShowArchiveDlg" (close)="isShowArchiveDlg=false">
    <p style="margin: 30px; text-align: center;">Are you sure you want to archive this opportunity?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="isShowArchiveDlg=false">No</button>
        <button kendoButton (click)="onArchive()" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Please confirm" *ngIf="isShowArchiveAllDlg" (close)="isShowArchiveAllDlg=false">
    <p style="margin: 30px; text-align: center;">Are you sure you want to archive all opportunities in this column?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="isShowArchiveAllDlg=false">No</button>
        <button kendoButton (click)="onArchiveAll($event)" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Please confirm" *ngIf="isShowArchiveAllDlg2" (close)="isShowArchiveAllDlg2=false">
    <p style="margin: 30px; text-align: center;">Do you like to archive all cards first?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="onArchiveAll2($event)" primary="true">Yes</button>
        <button kendoButton (click)="isShowArchiveAllDlg2=false;isShowRemoveAllDlg=true;">No</button>
        <button kendoButton (click)="isShowArchiveAllDlg2=false">Cancel</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Please confirm" *ngIf="isShowRemoveAllDlg" (close)="isShowRemoveAllDlg=false">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete "{{removeColumnName}}"?</p>
    <kendo-dialog-actions>
        <button kendoButton (click)="isShowRemoveAllDlg=false">No</button>
        <button kendoButton (click)="onRemoveAll($event)" primary="true">Yes</button>
    </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Alert!" *ngIf="isShowAlertDlg" (close)="isShowAlertDlg=false">
  <p style="margin: 30px; text-align: center;">{{alert_message}}</p>

  <kendo-dialog-actions>
      <button kendoButton (click)="isShowAlertDlg=false;" [primary]="true">Close</button>
  </kendo-dialog-actions>
</kendo-dialog>

<progress-dialog [progress]="isLoadData"></progress-dialog>