<app-header title="Dashboard"></app-header>
<div style="margin: 50px">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart type="pie"></app-chart>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart type="donut"></app-chart>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart type="funnel"></app-chart>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart type="bar-vert"></app-chart>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart type="bar-horz"></app-chart>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart type="line"></app-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart-two type="line"></app-chart-two>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart-two type="bar-horz"></app-chart-two>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-chart-two type="bar-vert"></app-chart-two>
    </div>
  </div>
</div>

