<object-grid [grid]="grid" [dataSource]="accountService" [customData]="customData" (create)="create($event)"></object-grid>
<edit-object-dialog [objectFormGroup]="formGroup" [objectGrid]="gridComponent" [dialogGridData]="dialogGridData" [width]="550" (edit)="edit($event)">
    <form *ngIf="formGroup" class="ma-form ma-not-collapsible-labels" novalidate [formGroup]="formGroup">
        <editor-field [fieldName]="'companyName'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'account_type'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'social_networks_id'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'address_id'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'prefered_payment_method'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'prefered_delivery_method'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'terms'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'number_of_employees'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'annual_revenue'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'lead_source'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'lead_rating'" [formGroup]="formGroup"></editor-field>
        <editor-field [fieldName]="'notes'" [formGroup]="formGroup"></editor-field>
    </form>
    
    <object-grid2 *ngIf="contactGrid" [grid]="contactGrid" [dataSource]="contactService" [initialData]="contacts" (updateData)="updateDialogGridData($event)"></object-grid2>    
</edit-object-dialog>
<account-dialog *ngIf="isNewDialog" (save)="addAccount($event)" (cancel)="closeDialog()"></account-dialog>