<h2 class="k-header ma-text-center">{{title}}</h2>
<form class="ma-form ma-not-collapsible-labels" novalidate [formGroup]="passwordFormGroup">
    <div class="ma-field">
        <label for="password" class="control-label">Password</label>
        <input id="password" class="k-textbox" type="password" formControlName="password"/>
        <error-label [error]="getErrorMessage('password')"></error-label>
    </div>
    <div class="ma-field">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input id="confirmPassword" class="k-textbox" type="password" formControlName="confirmPassword"/>
        <error-label [error]="getErrorMessage('confirmPassword') || getPasswordMatchesErrorMessage()">
        </error-label>
    </div>
    <button class="ma-action-button" kendoButton (click)="setPassword()" [disabled]="!passwordFormGroup.valid"
            [primary]="true">{{actionTitle}}</button>
    <error-label class="ma-response-error" [error]="passwordChangeError"></error-label>
</form>
