@font-face {
    font-family: "Ubuntu";
    src: url("/assets/font/Ubuntu-L.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/assets/font/Ubuntu-R.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/assets/font/Ubuntu-M.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Ubuntu";
    src: url("/assets/font/Ubuntu-B.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Bariol";
    src: url("/assets/font/Bariol_Regular.otf");
    font-weight: normal;
}