/**
*   Global Color
**/
$primary: #14a2f4;
$primaryLight: #506571;
$primaryDark: #042234;
$primaryExDark: #031824;
$secondary: #042234;
$secondaryLight: #8a9093;
$secondaryDark: #171717;
$secondaryExLight: #a5a5a5;
$gray: #e6e6e6;
$grayLight: #f3f5f6;

/**
* Global Padding
**/ 
$primaryPadding: 1.5rem;