<kendo-dialog id="contactDlg"  [width]="550" title="Add/Edit Contact" (close)="onClose()">
  <form class="k-form" #contactForm="ngForm" (ngSubmit)="onFormSubmit(contactForm.value)">
    <div class="row">
      <div class="k-form-field col-sm-6">
        <label class="k-form-field">
          <span>First Name<span class="k-required">*</span></span>
          <input class="k-textbox" name="firstName" [(ngModel)]="contact.firstName" required #firstName="ngModel" (ngModelChange)="updateDisplayName()" />
        </label>
      </div>
      <div class="k-form-field col-sm-6">
        <label class="k-form-field">
          <span>Last Name<span class="k-required">*</span></span>
          <input class="k-textbox" name="lastName" [(ngModel)]="contact.lastName" required #lastName="ngModel" (ngModelChange)="updateDisplayName()" />          
        </label>
      </div>
    </div>
    <div class="row">
      <div class="k-form-field col-sm-6">
        <label class="k-form-field">
          <span>Job Title</span>
          <input class="k-textbox" name="jobTitle" [(ngModel)]="contact.jobTitle" #jobTitle="ngModel">
        </label>
      </div>
      <div class="k-form-field col-sm-6">
        <label class="k-form-field">
          <span>Department</span>
          <kendo-dropdownlist
              [data]="departmentList"
              [textField]="'type'"
              [valueField]="'id'"
              [valuePrimitive]="true"
              name="department"
              [(ngModel)]="contact.department_id"              
              #department="ngModel">
          </kendo-dropdownlist>          
        </label>
      </div>
    </div>
    <div class="row">
      <div class="k-form-field col-sm-6">
        <label class="k-form-field">
          <span>Email</span>
          <input class="k-textbox" name="email" [(ngModel)]="contact.email" #email="ngModel">
          <error-label [error]="getErrorMessage('email')"></error-label>
        </label>
      </div>
      <div class="k-form-field col-sm-4">
        <label class="k-form-field">
          <span>Phone</span>
          <input class="k-textbox" name="phone" [(ngModel)]="contact.phone" #phone="ngModel">
          <error-label [error]="getErrorMessage('phone')"></error-label>
        </label>
      </div>
      <div class="k-form-field col-sm-2">
        <label class="k-form-field">
          <span>Ext#</span>
          <input class="k-textbox" name="extension" [(ngModel)]="contact.extension" #extension="ngModel">
        </label>
      </div>
    </div>
    <div class="row">
      <div class="k-form-field col-sm-6">
        <label class="k-form-field">
          <span>Fax</span>
          <input class="k-textbox" name="fax" [(ngModel)]="contact.fax" #fax="ngModel">
          <error-label [error]="getErrorMessage('fax')"></error-label>
        </label>
      </div>
      <div class="k-form-field col-sm-6">
        <label class="k-form-field">
          <span>Mobile</span>
          <input class="k-textbox" name="mobile" [(ngModel)]="contact.mobile" #mobile="ngModel">
          <error-label [error]="getErrorMessage('mobile')"></error-label>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="k-form-field col-sm-12">
        <fieldset>
          <legend class="k-form-field">Social Network</legend>
          <div class="row">
            <label class="k-form-field col-sm-6">
              <span>Facebook</span>
              <input class="k-textbox" name="facebook" [(ngModel)]="socialNetwork.facebook" #facebook="ngModel">
            </label>
            <label class="k-form-field col-sm-6">
              <span>Twitter</span>
              <input class="k-textbox" name="twitter" [(ngModel)]="socialNetwork.twitter" #twitter="ngModel">
            </label>
          </div>
          <div class="row">
            <label class="k-form-field col-sm-6">
              <span>LinkedIn</span>
              <input class="k-textbox" name="linked_in" [(ngModel)]="socialNetwork.linked_in" #linked_in="ngModel">
            </label>
            <label class="k-form-field col-sm-6">
              <span>Instagram</span>
              <input class="k-textbox" name="instagram" [(ngModel)]="socialNetwork.instagram" #instagram="ngModel">
            </label>            
          </div>
          <div class="row">
            <label class="k-form-field col-sm-6">
              <span>Pinterest</span>
              <input class="k-textbox" name="pinterest" [(ngModel)]="socialNetwork.pinterest" #pinterest="ngModel">
            </label>
            <label class="k-form-field col-sm-6">
              <span>Youtube</span>
              <input class="k-textbox" name="youtube" [(ngModel)]="socialNetwork.youtube" #youtube="ngModel">
            </label>            
          </div>
          <div class="row">
            <label class="k-form-field col-sm-6">
              <span>Google +</span>
              <input class="k-textbox" name="google_plus" [(ngModel)]="socialNetwork.google_plus" #google_plus="ngModel">
            </label>            
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="k-form-field col-sm-12">
        <fieldset>
          <legend class="k-form-field">Address</legend>
          <div class="row">
            <label class="k-form-field col-sm-12">
              <span>Address</span>
              <input class="k-textbox" name="street1" [(ngModel)]="address.street1" #street1="ngModel">
            </label>            
          </div>
          <div class="row">
            <label class="k-form-field col-sm-6">
              <span>City</span>
              <input class="k-textbox" name="city" [(ngModel)]="address.city" #city="ngModel">
            </label>
            <label class="k-form-field col-sm-6">
              <span>State</span>
              <kendo-dropdownlist name="state" [data]="statesNames" [(ngModel)]="address.state" *ngIf="address.country == 'United States'" #state="ngModel">
              </kendo-dropdownlist>
              <input class="k-textbox" name="state" [(ngModel)]="address.state" *ngIf="address.country != 'United States'" #state="ngModel" />
            </label>            
          </div>
          <div class="row">
            <label class="k-form-field col-sm-6">
              <span>Zip</span>
              <input class="k-textbox" name="zip" [(ngModel)]="address.zip" #zip="ngModel" (input)="changeZipcode($event.target.value)" />
              <error-label [error]="getErrorMessage('zipcode')"></error-label>
            </label>
            <label class="k-form-field col-sm-6">
              <span>Country</span>
              <kendo-dropdownlist name="country" [data]="countryNames" [(ngModel)]="address.country" (valueChange)="countryChange($event)" #country="ngModel">
              </kendo-dropdownlist>
            </label>            
          </div>
        </fieldset>
      </div>
    </div>
    <object-grid2 *ngIf="isShowGrid" [grid]="accountGrid" [dataSource]="accountService" [initialData]="contact.accounts" (updateData)="updateDialogGridData($event)"></object-grid2>

    <div class="buttons col-sm-12">
        <button type="button" kendoButton class="col-sm-6" (click)="onClose()">Cancel</button>
        <button kendoButton class="col-sm-6" primary="true" [disabled]="!contactForm.valid || isDisabled || !isValidEmail || !isValidPhone || !isValidFax || !isValidMobile || !isValidZipcode">Save</button>
    </div>
  </form>
</kendo-dialog>