* {
    text-align: right;
    color: #606060;
    font-size: .8rem;
}

.legend-title {
    margin-bottom: .1rem;
    font-size: 1rem;
}

.seperator {
    height: 1px;
    background: #606060;
    margin-bottom: .5rem;
}
.color_div {
    width: 10px;
    height: 10px;
    margin-left: .3rem;
    display: inline-block;
}