@import 'src/assets/theme/variable.scss';

#wrapper {
  padding-left: 51px;
  #menu-toggle i.fa {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: rotate(180deg);
    margin-left: 0;
  }

  &.toggled {
    padding-left: 250px;
    #menu-toggle i.fa {
      transform: rotate(0deg);
      margin-left: 200px;
    }
    #menu-toggle-icon {
      transform: rotate(0deg);
    }
  }
}

#wrapper.toggled #sidebar-wrapper {
  img.navbar-brand {}
  width: 250px;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0;
}

#sidebar-wrapper {
  z-index: 100;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white; // -webkit-transition: all 0.5s ease;
  // -moz-transition: all 0.5s ease;
  // -o-transition: all 0.5s ease;
  // transition: all 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: $primaryDark;
  font-weight: lighter;
  .logo {
    font-family: 'Bariol';
    font-size: 1.125rem;
    color: white;
    text-align: center;
    padding: $primaryPadding;
    border-bottom: solid 1px $primaryExDark;
    letter-spacing: 3px;
    height: 76px;
    i.fa {
      font-size: 1.25rem;
    }
  }
}

.sidebar-edge {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  cursor: ew-resize;
  z-index: 9999;
  #menu-toggle-icon {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: rotate(180deg);
    display: none;
    i {
      color: #666;
    }
  }
  #bar {
    background: transparent;
    width: 2px;
    height: 100%;
  }
  &:hover {
    #bar {
      background: #ccc;
    }
    #menu-toggle-icon {
      display: block;
    }
  }
} // .sidebar-edge:hover{
//     background: #ccc;
// }
#menu-toggle-icon {
  position: absolute;
  margin-left: 5px;
  top: calc(50vh - 12px);
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: relative;
  padding-top: 76px;
}

#wrapper.toggled #page-content-wrapper {
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  position: relative;
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  // transition: all .3s ease;
  padding: .3rem .9rem;
  border-bottom: solid 1px $primaryExDark;
  i.fa {
    font-size: 1.25rem;
    margin-right: 1.1rem;
    width: $primaryPadding;
    text-align: center;
    color: $primaryLight;
  }
}

.sidebar-nav li a:hover,
.sidebar-nav li a.active {
  text-decoration: none;
  color: white;
  background: $primary;
  border-bottom: solid 1px $primary;
  i {
    color: white;
  }
}

.sidebar-nav li:last-child a:hover {
  // background: white;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 1.125rem;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#wrapper.toggled {
  .submenu {
    li a {
      padding-left: 2.5rem;
      i.fa {
        font-size: 1rem;
      }
    }
  }
}

.submenu {
  li a {
    padding-left: 1rem;
  }
}

.collapsible {
  i.fa:first-child {
    color: $primary !important;
  }
  &:hover {
    i.fa:first-child {
      color: white !important;
    }
  }
  &.collapsed {
    i.fa:first-child {
      color: $primaryLight !important;
    }
    &:hover {
      i.fa:first-child {
        color: white !important;
      }
    }
    .submenu-icon {
      transform: rotate(180deg);
    }
  }
  .submenu-icon {
    transform: rotate(0deg);
    margin-top: .8rem;
    font-weight: bold;
    transition: all 0.5s;
  }
  &~ul {
    font-size: 0.875;
    li a {
      padding: .3rem 1rem;
    }
  }
}

#menu-overlay {
  display: none;
}