<div class='ma-form-page'>
    <span routerLink="/login" class="ma-navigation-link">Login</span>
    <div *ngIf="!registered" class="ma-form-shadow">
        <h2 class="k-header ma-text-center">Sign Up</h2>
        <form class="ma-form ma-not-collapsible-labels ma-user-registration-form"
              novalidate
              [formGroup]="registrationFormGroup">
            <div class="ma-horizontal ma-field">
                <div class="ma-field">
                    <label for="firstName" class="control-label">First Name</label>
                    <input id="firstName" type="text" class="k-textbox" formControlName="firstName"/>
                    <error-label [error]="getErrorMessage('firstName')"></error-label>
                </div>

                <div class="ma-field">
                    <label for="lastName" class="control-label">Last Name</label>
                    <input id="lastName" type="text" class="k-textbox" formControlName="lastName"/>
                    <error-label [error]="getErrorMessage('lastName')"></error-label>
                </div>
            </div>

            <div class="ma-field">
                <label for="company" class="control-label">Company</label>
                <input id="company" type="text" class="k-textbox" formControlName="company"/>
                <error-label [error]="getErrorMessage('company')"></error-label>
            </div>

            <div class="ma-field">
                <label for="email" class="control-label">Email</label>
                <input id="email" type="text" class="k-textbox" formControlName="email"/>
                <error-label [error]="getErrorMessage('email')"></error-label>
            </div>

            <div class="ma-field">
                <label for="jobTitle" class="control-label">Job Title</label>
                <input id="jobTitle" type="text" class="k-textbox" formControlName="jobTitle"/>
                <error-label [error]="getErrorMessage('jobTitle')"></error-label>
            </div>

            <div class="ma-horizontal ma-field">
                <div class="ma-field">
                    <label for="phone" class="control-label">Phone</label>
                    <input id="phone" type="text" class="k-textbox" formControlName="phone"/>
                    <error-label [error]="getErrorMessage('phone')"></error-label>
                </div>

                <div class="ma-field ma-employee-number">
                    <label class="control-label">Employee Number</label>
                    <kendo-numerictextbox formControlName="employeeNumber"
                                          [format]="integerFormat"
                                          [min]="0"
                                          [decimals]="0"
                                          [autoCorrect]="true">
                    </kendo-numerictextbox>
                    <error-label [error]="getErrorMessage('employeeNumber')"></error-label>
                </div>
            </div>

            <div class="ma-field">
                <label for="location" class="control-label">Location</label>
                <input id="location" type="text" class="k-textbox" formControlName="location"/>
                <error-label [error]="getErrorMessage('location')"></error-label>
            </div>

            <div class="ma-field">
                <label for="businessType" class="control-label">Business Type</label>
                <input id="businessType" type="text" class="k-textbox" formControlName="businessType"/>
                <error-label [error]="getErrorMessage('businessType')"></error-label>
            </div>
            <button class="ma-action-button"
                    kendoButton
                    (click)="register()"
                    [disabled]="!registrationFormGroup.valid"
                    [primary]="true">Continue
            </button>
            <error-label class="ma-response-error" [error]="getLastError()"></error-label>
        </form>
    </div>
    <div *ngIf="registered" class="ma-successful ma-vertical-item-list no-indent">
        <img class="ma-ok" src="~assets/img/ok.svg">
        <h1 class="ma-header">Thank you for creating an account</h1>
        <p class="ma-text">We sent you an e-mail with your account activation link.<br>
            Check your Inbox and follow the link to activate your account!</p>
        <p class="ma-text ma-support-post">If you do not receive a notification e-mail from us within the next 15 minutes,<br>
            please contact <a href="mailto:{{supportEmail}}">{{supportEmail}}</a> for assistance.</p>
    </div>
</div>