<object-grid [grid]="grid" [dataSource]="userService" [customData]="customData" (create)="openCreateDialog($event)" (edit)="editUser($event)" [removeConfirmation]="'Are you sure you want to delete this user?'"></object-grid>
<!-- <edit-object-dialog [objectFormGroup]="formGroup" [objectGrid]="gridComponent" [width]="550" (edit)="edit($event)">
  <form *ngIf="formGroup" class="ma-form ma-not-collapsible-labels" novalidate [formGroup]="formGroup">
      <editor-field [fieldName]="'displayName'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'firstName'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'lastName'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'username'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'email'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'firstName'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'lastName'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'roles'" [formGroup]="formGroup"></editor-field>
      <editor-field [fieldName]="'password'" [formGroup]="formGroup"></editor-field>
  </form>
</edit-object-dialog> -->