<app-header title="Users"></app-header>
<div class="ma-content">
	<div class="row">
    <div class="col-md-2">
      <button *ngIf="viewMode=='card'" id="btnaddnewuser" kendoButton  [primary]="true"  (click)="onCreate($event)"><span class="k-icon k-i-plus"></span> Add User</button>
    </div>
    <div class="search-container pull-right">
      <a class="k-button k-primary" (click)="onChangeView('card')"><span class="k-icon k-i-grid"></span></a>
      <a class="k-button k-primary" (click)="onChangeView('grid')"><span class="k-icon k-i-grid-layout"></span></a>
    </div>
  </div>
  <user-grid *ngIf="viewMode=='grid'" (create)="onCreate($event)"></user-grid>
  <user-card *ngIf="viewMode=='card'" (edit)="onEdit($event)"></user-card>
</div>

<user-dialog *ngIf="isShowDialog" [user]="user" (close)="onCloseDialog()"></user-dialog>
