<kendo-dialog title="Add/Edit User" (close)="onCloseDialog()" [width]="500">
  <form class="k-form" #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm.value)">
    <div class="row">
      <div class="col-md-8">
        <label class="k-form-field">
          <span>First Name<span class="k-required">*</span></span>
          <input class="k-textbox" name="firstName" [(ngModel)]="user.firstName" required #firstName="ngModel" (ngModelChange)="updateDisplayName()" />
        </label>
        <label class="k-form-field">
          <span>Last Name<span class="k-required">*</span></span>
          <input class="k-textbox" name="lastName" [(ngModel)]="user.lastName" required #lastName="ngModel" (ngModelChange)="updateDisplayName()" />
        </label>
      </div>
      <div class="col-md-4 image-edit-icon">
        <div class="img-cover">
          <img [src]="user.image" alt=""/>
        </div>
        <input id="card-upload-input" type="file" class="upload custom-file-selector" accept="image/*" (change)="fileChangeListener($event); fileSelector.value=null; " #fileSelector />
        <a class="img-edit-btn" (click)="onProfileImgClick($event)">
          <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Display Name</span>
          <input class="k-textbox" name="displayName" [(ngModel)]="user.displayName" #displayName="ngModel" readonly />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Email<span class="k-required">*</span></span>
          <input class="k-textbox" name="email" [(ngModel)]="user.email" required #email="ngModel" />
          <error-label [error]="getErrorMessage('email')"></error-label>
        </label>
      </div>
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Phone</span>
          <input class="k-textbox" name="phone" [(ngModel)]="user.phone" #phone="ngModel" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Address</span>
          <input class="k-textbox" name="street1" [(ngModel)]="user.address.street1" #street1="ngModel" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="k-form-field">
          <span>City</span>
          <input class="k-textbox" name="city" [(ngModel)]="user.address.city" #city="ngModel" />
        </label>
      </div>
      <div class="col-md-6">
        <label class="k-form-field">
          <span>State</span>
          <kendo-dropdownlist name="state" [data]="statesNames" [(ngModel)]="user.address.state" *ngIf="user.address.country == 'United States'" #state="ngModel">
          </kendo-dropdownlist>
          <input class="k-textbox" name="state" [(ngModel)]="user.address.state" *ngIf="user.address.country != 'United States'" #state="ngModel" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Zip</span>
          <input class="k-textbox" name="zip" [(ngModel)]="user.address.zip" #zip="ngModel" (input)="changeZipcode($event.target.value)" />
        </label>
      </div>
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Country</span>
          <kendo-dropdownlist name="country" [data]="countryNames" [(ngModel)]="user.address.country" (valueChange)="countryChange($event)" #country="ngModel">
          </kendo-dropdownlist>
        </label>
      </div>
    </div>
    <div class="row">      
      <div class="col-md-6">
        <label class="k-form-field">
          <span>User Name</span>
          <input class="k-textbox" name="username" [(ngModel)]="user.username" #username="ngModel" />
        </label>
      </div>
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Password</span>
          <input type="password" class="k-textbox" name="password" [(ngModel)]="user.password" #password="ngModel" />
          <error-label [error]="getErrorMessage('password')"></error-label>
        </label>
      </div>
<!--       <div class="col-md-6">
        <label class="k-form-field">
          <span>Retype Password</span>
          <input type="password" class="k-textbox" name="confirm_password" [(ngModel)]="user.confirm_password" #confirm_password="ngModel" />
          <error-label [error]="getErrorMessage('confirmPassword')"></error-label>
        </label>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="k-form-field">
          <span>Date of Birth</span>
          <kendo-datepicker name="date_of_birth" [(ngModel)]="user.date_of_birth" #date_of_birth="ngModel"></kendo-datepicker>
        </label>
      </div>
      <div class="col-md-4">
        <label class="k-form-field">
          <span>Hire Date</span>
          <kendo-datepicker name="hire_date" [(ngModel)]="user.hire_date" #hire_date="ngModel"></kendo-datepicker>
        </label>
      </div>
      <div class="col-md-4">
        <label class="k-form-field">
          <span>Released Date</span>
          <kendo-datepicker name="termination_date" [(ngModel)]="user.termination_date" #termination_date="ngModel"></kendo-datepicker>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Role</span>
          <kendo-dropdownlist
              [data]="roles"
              [textField]="'title'"
              [valueField]="'id'"
              [(ngModel)]="user.role"
              name="role"
              #role="ngModel">
          </kendo-dropdownlist>
        </label>
      </div>
      <div class="col-md-6" style="margin-top: 30px;">
        <label class="k-form-field">
          <input type="checkbox" id="active" name="active" class="k-checkbox" checked="checked" [(ngModel)]="user.active" #active="ngModel">
          <label class="k-checkbox-label" for="active">Active</label>
        </label>
      </div>
    </div>
    <div class="buttons col-sm-12">
      <button kendoButton class="col-sm-6" [disabled]="!userForm.valid || !isValidEmail" primary="true">Save</button>
      <button type="button" kendoButton class="col-sm-6" (click)="onCloseDialog()">Cancel</button>
    </div>
  </form>
</kendo-dialog>

<app-image-cropper [visible]="cropperVisible" [base64]="base64Image" (onCropped)="onCropped($event)" ></app-image-cropper>

<kendo-dialog title="Alert!" *ngIf="isShowAlertDlg" (close)="isShowAlertDlg=false">
  <p style="margin: 30px; text-align: center;">{{alert_message}}</p>

  <kendo-dialog-actions>
      <button kendoButton (click)="isShowAlertDlg=false;" [primary]="true">Close</button>
  </kendo-dialog-actions>
</kendo-dialog>
